body {
  background-color: #303030;
  font-size: 20px;
}
body .header {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: 3em;
  color: #F8B179;
  margin: 30px;
}
body p {
  color: white;
  font-weight: 400;
}
body .boton {
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-color: #F8B179;
  border: #F8B179;
  margin: 5px;
  align-self: center;
  justify-content: center;
}
body .boton .boton_2 {
  width: 300px;
  margin: 10px;
}
body .boton .boton:hover {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(0.9);
}
body .intro {
  width: 90%;
  margin: 40px auto;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}
body .intro img {
  width: 100%;
}
@media (max-width: 1025px) {
  body .intro {
    width: 90%;
    margin: 40px auto;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    grid-template-columns: 1fr;
  }
  body .intro img {
    width: 100%;
  }
}
body .container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}
body .container .tarjeta {
  width: 330px;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  background-color: #212529;
}
body .container .tarjeta img {
  width: 330px;
  height: 300px;
}
body .container .tarjeta h5 {
  font-weight: 800;
  color: #F8B179;
  font-size: 20px;
}
body .container .tarjeta p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 400;
}
body .container .tarjeta:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
body .container .mision-y-vision {
  margin: 30px;
  gap: 1rem;
  width: 450px;
}
body .container .mision-y-vision img {
  width: 450px;
  height: auto;
}
body .container .nosotros {
  width: 100%;
}
body .container .nosotros img {
  width: 100%;
  height: auto;
}
body .container .preguntas {
  height: 650px;
}
body .container .servicios {
  height: 430px;
}

.texts {
  padding: 20px;
}
@media (min-width: 768px) {
  .texts {
    flex-direction: row;
  }
}
.texts .title {
  font-size: 2.6rem;
  letter-spacing: 2px;
  font-weight: 800;
}
.texts .subtitle {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;
}
.texts .img {
  padding: 20px;
  max-width: 100%;
  height: auto;
}

.contacto {
  color: #303030;
}

.bg_header {
  background-image: url("/assets/Banner_code.png");
  width: 100%;
}

.brand-footer-margin {
  color: white;
  padding: 10px 100px 10px 100px;
}

.content-alingn {
  padding: 20px 50px 20px 50px;
  align-content: center;
  justify-content: center;
}
@media (max-width: 1070px) {
  .content-alingn {
    display: grid;
    padding: 20px 50px 20px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    grid-template-columns: 1fr;
  }
}

.alingn-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.servicios {
  margin: 20px 50px 20px 50px;
  text-align: center;
}

.valores {
  width: 90%;
  margin: 50px;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.valores .valores-content .header {
  font-size: 1em;
}
.valores .valores-content p {
  color: whitesmoke;
  font-weight: 400;
  font-size: 16px;
}
.valores .valores-content ol {
  color: whitesmoke;
  font-weight: 400;
  font-size: 16px;
}
.valores .valores-content img {
  height: 475px;
  width: 475px;
}

.card {
  background-color: #212529;
  max-width: 100%;
}
.card img {
  height: 400px;
  width: 500px;
}
.card .header {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: 2em;
  color: #F8B179;
  margin: 30px;
}
.card p {
  color: whitesmoke;
  font-weight: 400;
}
.card ol {
  color: whitesmoke;
  font-weight: 400;
  list-style-type: none;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1200px) {
  .card img {
    height: 340px;
    width: 400px;
  }
  .card .header {
    font-size: 1.5rem;
  }
}
@media (max-width: 1061px) {
  .card {
    display: grid;
    grid-template-columns: 1fr;
  }
}

form {
  width: 750px;
  margin: 50px auto;
  background: #212529;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
  box-shadow: 0 5px 10px #000;
}
form input, form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}
form textarea {
  min-height: 150px;
  max-height: 400px;
  max-width: 100%;
}
@media (max-width: 480px) {
  form form {
    width: 100%;
  }
}

.tarjeta-horizontal {
  width: 750px;
  height: 400px;
  display: flex;
  overflow: hidden;
  background: #212529;
  box-shadow: 0 5px 10px #000;
  border-radius: 10px;
  margin: 30px auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.tarjeta-horizontal .img-tarjeta {
  width: 100%;
  height: 100%;
  background-size: cover;
}
@media (max-width: 580px) {
  .tarjeta-horizontal .tarjeta-horizontal {
    width: 330px;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #212529;
  }
  .tarjeta-horizontal .tarjeta-horizontal .img-tarjeta {
    width: 330px;
    height: 300px;
  }
  .tarjeta-horizontal .tarjeta-horizontal p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 400;
  }
}

nav {
  background: #212529;
  height: 80px;
  width: 100%;
}
nav .checkbtn {
  font-size: 30px;
  color: whitesmoke;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
nav .check {
  display: none;
}
nav .logo {
  color: whitesmoke;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
nav ul {
  font-family: "Montserrat", sans-serif;
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: whitesmoke;
  font-size: 15px;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
}
nav ul li a.active, nav ul li a:hover {
  background: #212529;
  transition: 0.5s;
}
@media (max-width: 952px) {
  nav .logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav .a {
    font-size: 16px;
  }
}
@media (max-width: 1015px) {
  nav .checkbtn {
    display: block;
  }
  nav .check:checked ul {
    left: 0;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #303030;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav ul li a:hover, nav ul li a.active {
    background: none;
    color: #F8B179;
  }
}

footer {
  background: #212529;
  height: auto;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  padding-top: 40px;
  color: whitesmoke;
}
footer .footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
footer .footer-content h3 {
  font-size: 1.8rem;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 3rem;
}
footer .footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
footer .footer-content .rrss {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
footer .footer-content .rrss li {
  margin: 0 10px;
}
footer .footer-content .rrss a {
  text-decoration: none;
  color: whitesmoke;
}
footer .footer-content .rrss a i {
  font-size: 1.1rem;
}
footer .footer-content .rrss a:hover i {
  color: #F8B179;
}

/*# sourceMappingURL=styles.css.map */
