// Paleta de colores

$color_1: whitesmoke;
$color_2: #F8B179;
$color_3: #303030;
$color_4: white;
$color_5:#1C1B2B;

// fonts
$font: 'Montserrat', sans-serif;
$f_weight_header: 800;
$f_weight_text: 400;