@import "_variables.scss";
@import "_mixins.scss";



body {
	background-color: $color_3;
	font-size: 20px;

    .header{
	font-family: $font;
	font-weight: $f_weight_header;
	text-align: center;
	font-size: 3em;
	color: $color_2;
	margin:  30px;
    }
    
    p{
        color: $color_4; 
		font-weight: $f_weight_text;
    }

	.boton {
		color: $color_1;
		font-family: $font;
		font-weight: $f_weight_text;
		font-size: 20px;
		background-color:$color_2;
		border: $color_2;
		margin: 5px;

		.boton:hover {
			cursor: pointer;
			transition: .3s;
			transform: scale(0.9);
		}
	
	}

	.container_index {

		@include grid(3, 20px);
		
	}
	


}

.intro {

		display: flex;
		flex-direction: column;
	
		@include media-query;


}

.texts{
	padding: 20px;

    @include media-query;

	.title {
		font-size: 2.6rem;
		letter-spacing: 2px;
		font-weight: 800;

	}
	.subtitle{
		margin-top: 1rem;
		margin-bottom: 1.5rem;
		font-size: 1.5rem;
		font-weight: 400;
	}
	.img {
		padding: 20px;
		max-width: 100%;
		height: auto;
	
	}
}
.contacto {
	color:$color_3;
}

.bg_header {
	background-image: url("/assets/Banner_code.png") ;
	width: 100%;
}
.brand-footer-margin {
	color: $color_4;
	padding: 10px 100px 10px 100px;
}
.content-alingn {
	align-content: space-between;
	padding: 20px 50px 20px 50px;
}

.alingn-center {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.card {
	width: 20rem;
}
.servicios {
	margin: 20px 50px 20px 50px;
	.header{
		font-family: $font;
		font-weight: $f_weight_header;
		text-align: center;
		font-size: 3em;
		color: $color_2;
		margin:  30px;
	}
		
	p{
		color: $color_3; 
		font-weight: $f_weight_text;
	}

}
