
// Paleta de colores

$color_1: whitesmoke;
$color_2: #F8B179;
$color_3: #303030;
$color_4: white;
$color_5:#1C1B2B;

// fonts
$font: 'Montserrat', sans-serif;
$f_weight_header: 800;
$f_weight_text: 400;

@mixin grid($columnas, $espacio)  {
	display: grid;
	display: flex;
	grid-template-columns: repeat($columnas, 1fr);
	gap: $espacio;

	margin: 20px 50px 20px 50px;
	
	align-items: center;
	justify-content: center;

	@media screen and (max-width(480px)) {
		grid-template-columns: 1fr;
		gap:0em;
	}
}


body {
	background-color: $color_3;
	font-size: 20px;

    .header{
	font-family: $font;
	font-weight: $f_weight_header;
	text-align: center;
	font-size: 3em;
	color: $color_2;
	margin:  30px;
    }
    
    p{
        color: $color_4; 
		font-weight: $f_weight_text;
    }

	.boton {
		color: $color_1;
		font-family: $font;
		font-weight: $f_weight_text;
		font-size: 20px;
		background-color:$color_2;
		border: $color_2;
		margin: 5px;

		.boton:hover {
			cursor: pointer;
			transition: .3s;
			transform: scale(0.9);
		}
	
	}

	.container_index {

		@include grid(3, 20px)
		
	}
	


}




.intro {

		display: flex;
		flex-direction: column;
	
		@media (min-width: 768px) {
			flex-direction: row;
		}


}

.texts{
	padding: 20px;

    @media (min-width: 768px) {
        flex: 1;
		}
	.title {
		font-size: 2.6rem;
		letter-spacing: 2px;
		font-weight: 800;

	}
	.subtitle{
		margin-top: 1rem;
		margin-bottom: 1.5rem;
		font-size: 1.5rem;
		font-weight: 400;
	}
	.img {
		padding: 20px;
		max-width: 100%;
		height: auto;
	
	}
}
.contacto {
	color:$color_3;
}

.brand-footer-margin {
	color: $color_4;
	padding: 10px 100px 10px 100px;
}
.content-alingn {
	align-content: space-between;
	padding: 20px 50px 20px 50px;
}

.alingn-center {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}


.servicios {
	margin: 20px 50px 20px 50px;
	.header{
		font-family: $font;
		font-weight: $f_weight_header;
		text-align: center;
		font-size: 3em;
		color: $color_2;
		margin:  30px;
	}
		
	p{
		color: $color_3; 
		font-weight: $f_weight_text;
	}

}
/*
.text {
	color: $color_3;
}
.boton {
	background-color: $background-color_2;
	color: $color_3;
	border: #F8B179;
	margin: 5px;
}
.formulario {
	margin: 50px 100px 50px 100px;
	padding: 20px;
}
.word {
	font-size: 1.5em;
	color: $color_3;
}

}
.margen2 {
	margin: 100px 150px 100px 150px;
}

.accordion-active-color {
	background-color: $background-color_2;
}
.background-2 {
	background-color: $background-color_3;
}
.estilo1 {
	color: $color_3;
	font-size: 50px;
	font-family: $font;
	text-align: center;
	margin: 1em 2em 1em 2em;
}
.heads {
	font-size: 2em;
	width: 100%;
	font-family: $font-family_1;
	text-align: center;
}
.box {
	display: inline-block;
	background-color: $background-color_2;
	font-family: $font-family_1;
	font-size: 1em;
	padding: 20px;
	margin: 60px 40px 60px 40px;
	color: $color_3;
	width: 300px;
	height: 600px;
	align-content: center;
}
.box2 {
	display: inline-block;
	background-color: $background-color_2;
	font-family: $font-family_1;
	font-size: 1em;
	color: $color_3;
	align-content: center;
}
.box3 {
	background-color: $background-color_2;
	color: $color_3;
	font-family: $font-family_1;
	font-size: 0.75em;
	margin-top: 200px;
	padding: 50px 100px 50px 40%;
}
.box4 {
	background-color: $background-color_2;
	color: $color_3;
	font-family: $font-family_1;
	font-size: 0.75em;
	margin-top: 200px;
	padding: 50px 40% 50px 100px;
}
.img1 {
	width: 250px;
	margin-left: 100px;
	margin-top: -400px;
	margin-bottom: 50px;
	border: 30px #F8B179;
	padding: 10px;
	background-color: $background-color_2;
}
.img2 {
	width: 250px;
	margin-left: 60%;
	margin-top: -400px;
	margin-bottom: 50px;
	border: 30px #F8B179;
	padding: 10px;
	background-color: $background-color_2;
}
.referencia {
	font-family: $font-family_1;
	font-size: 1em;
	width: 100%;
}
.TamImg {
	height: 200px;
	width: 200px;
}
.servicios {
	font-family: $font-family_1;
	font-size: 1em;
	margin-left: 15%;
	margin-right: 15%;
	align-content: center;
}
.listadesordenada {
	text-align: center;
	text-decoration: none;
	list-style-type: none;
	outline-style: none;
}
.listaordenada {
	text-align: left;
	list-style-type: none;
}
.listadesordenada2 {
	text-align: left;
	text-decoration: none;
	list-style-type: circle;
}
.brand-footer-margin {
	color: $color_4;
	padding: 10px 100px 10px 100px;
}
.content-alingn {
	align-content: space-between;
	padding: 20px 50px 20px 50px;
}
.img-wrapper {
	max-width: 100%;
	height: 17em;
}
.carousel-inner {
	padding: 1em;
}
.card {
	margin: 1em;
}
@media screen and (min-width:576px) {
	.carousel-inner2 {
		display: flex;
	}
	.carousel-item2 {
		display: block;
		margin-right: 0;
		flex: 0 0 calc(100%/3);
	}
}
*/