@import "_variables.scss";
@import "_mixins.scss";



body {
	background-color: $color_3;
	font-size: 20px;

    .header{
	font-family: $font;
	font-weight: $f_weight_header;
	text-align: center;
	font-size: 3em;
	color: $color_2;
	margin:  30px;
    }
    
    p{
        color: $color_4; 
		font-weight: $f_weight_text;
    }

	.boton {
		color: $color_1;
		font-family: $font;
		font-weight: $f_weight_text;
		font-size: 20px;
		background-color:$color_2;
		border: $color_2;
		margin: 5px;
		align-self: center;
		justify-content: center;

		.boton_2 {
			width: 300px;
			margin: 10px;
		}

		.boton:hover {
			cursor: pointer;
			transition: .3s;
			transform: scale(0.9);
		}
	
	}

	.intro {
		width: 90%;
		margin: 40px auto;
		display: grid;
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 2rem; 
		grid-template-columns: 1fr 1fr;

		img {
			width: 100%;
		}
		
		@media (max-width:1025px) {
			width: 90%;
			margin: 40px auto;
			display: grid;
			justify-content: center;
			align-items: center;
			gap: 2rem; 
			grid-template-columns: 1fr;

			img {
				width: 100%;
			}
		}

	}
	
	.container {
		width: 100%;
		max-width: 1200px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: auto;
		font-family: $font;

		.tarjeta{
			width: 330px;
			border-radius: 8px;
			overflow:hidden;
			margin: 20px;
			text-align: center;
			transition: all 0.25s;
			background-color: $color_6;

			img {
				width: 330px;
				height: 300px;
			}

			h5 {
				font-weight: $f_weight_header;
				color: $color_2;
				font-size: 20px;
			}
			
			p {
				padding: 0 1rem;
				font-size: 16px;
				font-weight: $f_weight_text;
			}
			&:hover {
				transform: translateY(-15px);
				box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
			}
		
		}

		.mision-y-vision {
			margin: 30px;
			gap:1rem;
			width: 450px;

			img {
				width: 450px;
				height: auto;
			}
			
		}
		

		.nosotros{
			width: 100%;

			img{
				width: 100%;
				height: auto;
			}
		}
		.preguntas{
			height: 650px;
		}
		
		.servicios {
			height: 430px;
		}


		
	}


}


.texts{
	padding: 20px;

    @include media-query;

	.title {
		font-size: 2.6rem;
		letter-spacing: 2px;
		font-weight: 800;

	}
	.subtitle{
		margin-top: 1rem;
		margin-bottom: 1.5rem;
		font-size: 1.5rem;
		font-weight: 400;
	}
	.img {
		padding: 20px;
		max-width: 100%;
		height: auto;
	
	}
}
.contacto {
	color:$color_3;
}

.bg_header {
	background-image: url("/assets/Banner_code.png") ;
	width: 100%;
}
.brand-footer-margin {
	color: $color_4;
	padding: 10px 100px 10px 100px;
}
.content-alingn {
	padding: 20px 50px 20px 50px;
	align-content: center;
	justify-content: center;
	@media (max-width: 1070px) {
		display: grid;
		padding: 20px 50px 20px 50px;
		justify-content: center;
		align-items: center;
		gap: 10px; 
		grid-template-columns: 1fr;
		
	}
}

.alingn-center {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}




.servicios {
	margin: 20px 50px 20px 50px;
	text-align: center;
}
.valores {
	width: 90%;
	margin: 50px;
	align-content: center;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: $font;
	.valores-content{
		.header{
		font-size: 1em;
			}
		p {
			color: $color_1;
			font-weight: $f_weight_text;
			font-size: 16px;
		}
		ol {
			color: $color_1;
			font-weight: $f_weight_text;
			font-size: 16px;
		}

		img {
			height: 475px;
			width: 475px;
		}
	}
	
}
.card {
	background-color: $color_6;
	max-width: 100%;

	img {
		height: 400px;
		width: 500px;		
	}
	
	.header{
		font-family: $font;
		font-weight: $f_weight_header;
		text-align: center;
		font-size: 2em;
		color: $color_2;
		margin: 30px;
	}
	p {
		color: $color_1; 
		font-weight: $f_weight_text;
	}
	ol{
		color: $color_1; 
		font-weight: $f_weight_text;
		list-style-type:none;
	} 

	&:hover {
		transform:scale(1.05);
		box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
	}

	@media (max-width:1200px) {
		img {
			height: 340px;
			width: 400px;
		}
		.header {
			font-size: 1.5rem;
		}
	}
	@media (max-width:1061px) {
		display: grid;
		grid-template-columns: 1fr;
	}	
}



form {
	width: 750px;
	margin: 50px auto;
	background: $color_6;
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 20px;
	border-radius: 7px;
	box-shadow: 0 5px 10px #000;

	input, textarea {
		width: 100%;
		margin-bottom: 20px;
		padding: 7px;
		box-sizing: border-box;
		font-size: 17px;
		border: none;

	}

	textarea {
		min-height: 150px;
		max-height: 400px;
		max-width: 100%;
	}

	@media (max-width:480px) {
		form{
			width: 100%;
		}
	}

}

.tarjeta-horizontal {
	width: 750px;
	height: 400px;
	display: flex;
	overflow: hidden;
	background: $color_6;
	box-shadow: 0 5px 10px #000;
	border-radius: 10px;
	margin: 30px auto;
	text-align: center;
	justify-content: center;
	align-items: center;
    .img-tarjeta {
		width: 100%;
		height: 100%;
		background-size: cover;

	}

	@media (max-width:580px) {

		.tarjeta-horizontal{
			width: 330px;
			border-radius: 8px;
			overflow:hidden;
			margin: 20px;
			text-align: center;
			transition: all 0.25s;
			background-color: $color_6;

			.img-tarjeta {
				width: 330px;
				height: 300px;
			}
			
			p {
				padding: 0 1rem;
				font-size: 16px;
				font-weight: $f_weight_text;
			}
		}
	}


}

nav {
	background: $color_6;
	height: 80px;
	width: 100%;

	.checkbtn {
		font-size: 30px;
		color: $color_1;
		float: right;
		line-height: 80px;
		margin-right: 40px;
		cursor: pointer;
		display: none;
	}

	.check {
		display: none;
	}

	.logo{
		color: $color_1;
		font-size: 35px;
		line-height: 80px;
		padding: 0 100px;
		font-weight: bold;
		font-family: $font;
	}

	ul{
		font-family: $font;
		float: right;
		margin-right: 20px;
		 li{
			display: inline-block;
			line-height: 80px;
			margin: 0 5px;

			a {
				color: $color_1;
				font-size: 15px;
				text-transform: uppercase;
				list-style: none;
				text-decoration: none;

				&.active, &:hover {
					background: $color_6;
					transition: 0.5s;

				}
			}
		 }
	}

	@media (max-width:952px) {
		.logo {
			font-size: 30px;
			padding-left: 50px;
		}
		
		.a {
			font-size: 16px;
		}
	}

	@media (max-width: 1015px) {
		.checkbtn {
			display: block;
		}

		.check:checked {
			ul{
				left: 0;
			}
		}

		ul {
			position:fixed;
			width: 100%;
			height: 100vh;
			background: $color_3;
			top: 80px;
			left: -100%;
			text-align: center;
			transition: all .5s;

			li { 
				display: block;
				margin: 50px 0;
				line-height:30px;

				a{
					font-size: 20px;

					&:hover, &.active {
						background: none;
						color: $color_2;
					}
				}
			}
		}
	}
}

footer{

	background: $color_6;
	height: auto;
	width: 100%;
	font-family: $font;
	padding-top: 40px;
	color: $color_1;

	.footer-content {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;

		h3 {
			font-size: 1.8rem;
			font-weight: $f_weight_header;
			text-transform: capitalize;
			line-height: 3rem;
		}

		p{
			max-width: 500px;
			margin: 10px auto;
			line-height: 28px;
			font-size: 14px;
		}

		.rrss {
			list-style: none;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 1rem 0 3rem 0;

			li{
				margin: 0 10px;
			}

			a {
				text-decoration: none;
				color: $color_1;

				i{
					font-size: 1.1rem;

				}

				&:hover{
					i{
						color: $color_2;
					}
				}
			}

		
		}
	}

}